* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins; }

.header {
  display: flex;
  width: 100vw;
  min-width: 1000px;
  padding: 2vh 6vw; }
  .header .headerBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(225, 183, 35, 0.15); }
    .header .headerBar div {
      display: flex;
      align-items: center; }
      .header .headerBar div img {
        height: 100px;
        object-fit: contain; }

main {
  display: flex;
  padding: 2vh 6vw;
  width: 100vw;
  min-width: 1000px;
  height: 80vh;
  min-height: 500px;
  gap: 30px; }
  main .sideMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(225, 183, 35, 0.15);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 15vw;
    min-width: 220px; }
    main .sideMenu .btn {
      border-radius: 20px;
      background-color: rgba(40, 135, 129, 0.5);
      width: 10vw;
      min-width: 190px;
      height: 60px;
      font-size: x-large; }
    main .sideMenu .btn:hover {
      background-color: #288781; }
  main .mainReturn {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgba(225, 183, 35, 0.15);
    border-radius: 0px 20px 20px 0px;
    height: 100%;
    flex-grow: 1; }
    main .mainReturn .formularioReturn {
      display: flex;
      justify-content: space-between;
      height: 110px;
      min-height: 110px;
      width: 100%;
      padding: 30px 20px;
      border-bottom: solid black 2.5px; }
      main .mainReturn .formularioReturn .form {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%; }
        main .mainReturn .formularioReturn .form div {
          display: flex;
          align-items: center; }
          main .mainReturn .formularioReturn .form div label {
            margin: 0 5px 0 15px;
            font-size: large; }
          main .mainReturn .formularioReturn .form div input {
            width: 82.5px; }
          main .mainReturn .formularioReturn .form div .nombre {
            width: 140px; }
          main .mainReturn .formularioReturn .form div .fecha {
            width: 140px; }
        main .mainReturn .formularioReturn .form button {
          margin-left: 8vw;
          border-radius: 50%;
          background-color: rgba(40, 135, 129, 0.5);
          width: 50px;
          height: 50px; }
        main .mainReturn .formularioReturn .form button:hover {
          background-color: #288781; }
    main .mainReturn .calcReturn {
      display: flex;
      width: 100%;
      height: 80%;
      padding: 20px 30px;
      flex-grow: 1;
      gap: 30px; }
      main .mainReturn .calcReturn .infoReturn {
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: #ffdb5b;
        flex-grow: 1;
        overflow-y: auto;
        border-radius: 10px;
        padding: 20px 30px; }
        main .mainReturn .calcReturn .infoReturn p {
          font-size: x-large; }
        main .mainReturn .calcReturn .infoReturn .usersReturn {
          display: flex;
          justify-content: space-between; }
          main .mainReturn .calcReturn .infoReturn .usersReturn button {
            margin-left: 8vw;
            border-radius: 50%;
            background-color: rgba(40, 135, 129, 0.5);
            width: 50px;
            height: 50px; }
          main .mainReturn .calcReturn .infoReturn .usersReturn button:hover {
            background-color: #288781; }
      main .mainReturn .calcReturn img {
        width: 200px;
        object-fit: contain; }
      main .mainReturn .calcReturn .imageReturn {
        width: 400px; }
    main .mainReturn .bannerOut {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      background-color: red; }

/*# sourceMappingURL=styles.css.map */
